<link rel="stylesheet" href="/stylesheets/basicstyles.css">

<div class="content flex-row">
  <div class="whitebox flex-column">
<form class="flex-column" action="/admin/login" method="POST">
  <div>
    <input type="text" name="username" placeholder="Username">
  </div>
  <div>
    <input type="password" name="password" placeholder="Password">
  </div>
  <div>
    <input class="btn" type="submit" value="Log In">
  </div>
</form>

</div>
</div>