<link rel="stylesheet" href="/stylesheets/basicstyles.css">

<div class="content flex-row">
  <div class="whitebox flex-column">
  <p class="commom-text">Cheque seu e-mail! Mandamos sua receita e seu cupom por lรก! :)</p>
  </div>
</div>