    Deseja ativar o cupom agora? Coloque o código da loja abaixo!
    <form action="/cupom/{{codigo}}" method="POST">
    <input type="text" name="codigodaloja" placeholder="Código da loja" required/>
    <button type="submit">Resgatar cupom!</button>