<div class="slideshow">
    <div class="slide">
         <div class="overlay"></div>
        <div class="mirror" data-tilt>
            
            <div class="mirror__side mirror__side--one">
                <img class="mirror__img" src="./images/Capa_x-3.png" alt="Some image" />
            </div>
            <div class="mirror__side mirror__side--two">
                <img class="mirror__img" src="./images/Capa_x-3.png" alt="Some image" />
            </div>
        </div>
        <h2 class="slide__title ">BEET, DONT <br>
            KALE MY VIBE </h2>
            <a class="btn-coupon" href="#gocoupon">I want my cupom</a>

    </div>
    <div class="slide">
        <div class="mirror" data-tilt>
            <div class="mirror__side mirror__side--one">
                <img class="mirror__img" src="./images/Capa_x-3.png" alt="Some image" />
            </div>
            <div class="mirror__side mirror__side--two">
                <img class="mirror__img" src="./images/Capa_x-3.png" alt="Some image" />
            </div>
        </div>
        <h2 class="slide__title">DO U WANNA ONE BYTE?</h2>
    </div>
    <div class="slide">
        <div class="mirror" data-tilt>
            <div class="mirror__side mirror__side--one">
                <img class="mirror__img" src="./images/Capa_x-3.png" alt="Some image" />
            </div>
            <div class="mirror__side mirror__side--two">
                <img class="mirror__img" src="./images/Capa_x-3.png" alt="Some image" />
            </div>
        </div>
        <h2 class="slide__title">DO U WANNA ONE BYTE?</h2>
    </div>
    <div class="slide">
        <div class="mirror" data-tilt>
            <div class="mirror__side mirror__side--one">
                <img class="mirror__img" src="./images/Capa_x-3.png" alt="Some image" />
            </div>
            <div class="mirror__side mirror__side--two">
                <img class="mirror__img" src="./images/Capa_x-3.png" alt="Some image" />
            </div>
        </div>
        <h2 class="slide__title">DO U WANNA ONE BYTE?</h2>
    </div>
    <nav class="slideshow__nav slideshow__nav--inline">
        {{!-- <button class="btn btn--nav">1</button>
            <button class="btn btn--nav">2</button>
            <button class="btn btn--nav">3</button>
            <button class="btn btn--nav">4</button> --}}
    </nav>


</div><!-- /slideshow -->

</section>
  
  <section class="content content--full">

<!--The div element for the map -->
<div id="map"></div>

<section class="content content--full form">
    <div class="left-form">
        <form id="gocoupon" action="/" method="POST">
    <input type="text" name="nome" placeholder="Nome" required />
    <input type="text" name="sobrenome" placeholder="Sobrenome" required />
    <input type="text" name="email" placeholder="E-mail" required />
    <input type="number" name="idade" placeholder="Idade" required />
    {{message}}
    <button type="submit">Enviar</button>
</form>
    </div>
   
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
</style>
</section>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 4, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjEmxNVlkhy-PZATJY2At1mo_tS1s6Os8&callback=initMap"></script>
