<section class="content content--full">
				<header class="codrops-header">
					<div class="codrops-links">
						<a class="codrops-icon codrops-icon--prev" href="https://tympanus.net/Development/BlockRevealers/" title="Previous Demo"><svg class="icon icon--arrow"><use xlink:href="#icon-arrow"></use></svg></a>
						<a class="codrops-icon codrops-icon--drop" href="https://tympanus.net/codrops/?p=29492" title="Back to the article"><svg class="icon icon--drop"><use xlink:href="#icon-drop"></use></svg></a>
					</div>
					<h1 class="codrops-header__title">Mirror Effect</h1>
					<nav class="demos">
						<a class="demo" href="index.html">Demo 1</a>
						<a class="demo" href="index2.html">Demo 2</a>
						<a class="demo demo--current" href="index3.html">Demo 3</a>
						<a class="github" href="https://github.com/codrops/MirrorEffect">/Github</a>
					</nav>
				</header>
				<div class="slideshow">
					<div class="slide">
						<div class="mirror" data-tilt>
							<div class="mirror__side mirror__side--one">
								<img class="mirror__img" src="./images/veggie3.svg" alt="Some image" />
							</div>
							<div class="mirror__side mirror__side--two">
								<img class="mirror__img" src="./images/veggie3.svg" alt="Some image" />
							</div>
						</div>
						<h2 class="slide__title">Artichoke</h2>
					</div>
					<div class="slide">
						<div class="mirror" data-tilt>
							<div class="mirror__side mirror__side--one">
								<img class="mirror__img" src="./images/veggie2.svg" alt="Some image" />
							</div>
							<div class="mirror__side mirror__side--two">
								<img class="mirror__img" src="./images/veggie2.svg" alt="Some image" />
							</div>
						</div>
						<h2 class="slide__title">Avocado</h2>
					</div>
					<div class="slide">
						<div class="mirror" data-tilt>
							<div class="mirror__side mirror__side--one">
								<img class="mirror__img" src="./images/veggie1.svg" alt="Some image" />
							</div>
							<div class="mirror__side mirror__side--two">
								<img class="mirror__img" src="./images/veggie1.svg" alt="Some image" />
							</div>
						</div>
						<h2 class="slide__title">Lemon</h2>
					</div>
					<div class="slide">
						<div class="mirror" data-tilt>
							<div class="mirror__side mirror__side--one">
								<img class="mirror__img" src="./images/veggie4.svg" alt="Some image" />
							</div>
							<div class="mirror__side mirror__side--two">
								<img class="mirror__img" src="./images/veggie4.svg" alt="Some image" />
							</div>
						</div>
						<h2 class="slide__title">Beetroot</h2>
					</div>	
					<nav class="slideshow__nav slideshow__nav--inline">
						<button class="btn btn--nav">1</button>
						<button class="btn btn--nav">2</button>
						<button class="btn btn--nav">3</button>
						<button class="btn btn--nav">4</button>
					</nav>
				</div><!-- /slideshow -->
			</section>
<form action="/" method="POST">
  <input type="text" name="nome" placeholder="Nome" required/>
  <input type="text" name="sobrenome" placeholder="Sobrenome" required/>
  <input type="text" name="email" placeholder="E-mail" required/>
  <input type="number" name="idade" placeholder="Idade" required/>
	<br>
	<input value="1" type="radio" name="receita" />
	<input value="2" type="radio" name="receita" />
	<input value="3" type="radio" name="receita" />
	<input value="4" type="radio" name="receita" />
  {{message}}
  <button type="submit">Enviar</button>
  or <a id="fb-btn" href="/facebook" class="btn btn-md btn-primary fb-login-button">Login with Facebook</a>
</form>

{{!-- 
<script>
	console.log('carregou?')
	const radios = document.getElementsByTagName('input[type=radio]');
	for(let x = 0; x < radios.length; x += 1) {
		radios[x].addEventListener('change', () => {
			console.log(radios[x].value);
			document.getElementById('fb-btn').href = '/facebook/' + radios[x].value;
		})
	}
</script> --}}
