<form action="/" method="POST">
  <input type="text" name="nome" placeholder="Nome" required/>
  <input type="text" name="sobrenome" placeholder="Sobrenome" required/>
  <input type="text" name="email" placeholder="E-mail" required/>
  <input type="number" name="idade" placeholder="Idade" required/>
  {{message}}
  <button type="submit">Enviar</button>
</form>