<form action="/" method="POST">
  <input type="text" name="nome" placeholder="Nome" />
  <input type="text" name="sobrenome" placeholder="Sobrenome" />
  <input type="text" name="email" placeholder="E-mail" />
  <input type="text" name="idade" placeholder="Idade" />
  {{message}}
  <button>Enviar</button>
</form>