<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144659219-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-144659219-1');
  </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Beet & Byte</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Codrops" />
  <link rel="shortcut icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Raleway:900|Montserrat:700"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/mirror.css" />
  <script>document.documentElement.className = 'js';</script>
  <link rel="stylesheet" href="/stylesheets/style.css">


  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N2Z893K');</script>
  <!-- End Google Tag Manager -->
</head>

<body class="demo-3 loading">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2Z893K" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <svg class="hidden">
    <symbol id="icon-arrow" viewBox="0 0 24 24">
      <title>arrow</title>
      <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
    </symbol>
    <symbol id="icon-drop" viewBox="0 0 24 24">
      <title>drop</title>
      <path
        d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
      <path
        d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
    </symbol>
  </svg>
  <main>
   


<section class="content content--full">
    
<header class="codrops-header">
    
        <h1 class="logo">BEET&<span>BYTE</span></h1>
       

    </header>


    {{{body}}}
  
  
  </section>
  
<footer>
<h1 class="logo">BEET&<span>BYTE</span></h1>
 <p>Copyright © 2019 Beet&Byte. All rights reserved.</p>
</footer>
  </main>
  <script src="/javascripts/imagesloaded.pkgd.min.js"></script>
  <script src="/javascripts/anime.min.js"></script>
  <script src="/javascripts/mirrorFx.js"></script>
  <script src="/javascripts/slideshow.js"></script>
  <script>
    (function () {

      function init() {
        new Slideshow(document.querySelector('.slideshow'));
      }

      // Fake loading time..
      var startTime = new Date().getTime();
      imagesLoaded(document.querySelector('main'), function () {
        var elapsed = new Date().getTime() - startTime,
          initFn = function () {
            document.body.classList.remove('loading');
            setTimeout(init, 50);
          };

        if (elapsed > 2000) {
          initFn();
        }
        else {
          setTimeout(initFn, 1000);
        }
      });

    })();
  </script>


</body>

</html>