<link rel="stylesheet" href="/stylesheets/basicstyles.css">

<div class="content flex-row">
  <div class="whitebox flex-column">
    <p class="commom-text">{{cupom.nome}}, obrigado por resgatar seu cupom!<br> Esperamos que tenha gostado! :)</p>
</div>
</div>